.wrap{
  min-width: 400px;
  width:80%;
  margin:auto;


}

.content, aside ,.text {
  height:200px;
}
.content{
  background: red;
  float :left;
  width: 20%;
}
aside{
  background: brown;
  float :right;
  width:20%;
}

aside ul{
padding-left:0px;
list-style: none;
}

.text{
  background: blue;
  width: 40%;
  float :left;
}
